.banner {
	height: 90px;
	margin: 0px -0px 0px;
	background-color: rgb(105, 26, 48);
	border-radius: 2px;
}
.banner h2{
	color: white;
	padding-top: 2px;
	margin-left: 2%;
	display: inline-block;
}
.banner Img{
	position: relative;
	float: right;
	right: 10px;
	height: 90px;
}
